<div class="card mb-3">
  <div class="card-header">Client</div>
  <div class="card-body text-dark">
    <h5 class="card-title">List of clients</h5>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Email</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody *ngFor="let client of clients">
        <tr>
          <td>{{client.name}}</td>
          <td>{{client.lastName}}</td>
          <td>{{client.email}}</td>
          <td>{{client.address}}</td>
        </tr>
        </tbody>
      </table>
  </div>
</div>
