<ul class="alert alert-danger" *ngIf="errors?.length>0">
  <li *ngFor="let e of errors">{{e}}</li>
</ul>

<div class="card">
  <div class="card-header">
    {{title}}
  </div>

  <div class="card-body">
    <form #formClient="ngForm">
      <div class="form-group">
        <label for="name" class="control-label">Name</label>
          <input id="name"
                 name="name"
                 type="text"
                 placeholder="Enter your Name"
                 class="form-control" [(ngModel)] = "c.name"

                 #name="ngModel"
          />
        <!--required
        minlength="3"-->
        <div class="alert alert-light" *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors.required"  class="text-danger">
              Name is required
          </div>
          <div *ngIf="name.errors.minlength"  class="text-danger">
            Length must be greater than 4
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="address" class="control-label">Address</label>
          <input name="address"
                 id="address"
                 type="text"
                 placeholder="Enter address"
                 class="form-control"
                 [(ngModel)] = "c.address"

                 #address="ngModel"
          />
        <!--required="required"-->
        <div class="alert alert-light" *ngIf="address.invalid && (address.dirty || address.touched)">
          <div *ngIf="address.errors.required"  class="text-danger">
              Address is Required
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input name="email"
               type="email"
               id="email"
               class="form-control"
               placeholder="example@exaple.com"
               [(ngModel)] = "c.email"

               #email="ngModel"
        />
        <!--email
        required="required"-->

        <div class="alert alert-light" *ngIf="email.invalid && (email.dirty || email.touched)">
          <div *ngIf="email.errors.required" class="text-danger">
            Email is required
          </div>
          <div *ngIf="email.errors.email"  class="text-danger">
            Email format is not valid
          </div>
        </div>

      </div>

      <div class="form-group">
        <label for="phone" class="control-label">Phone</label>
        <input name="phone" id="phone" type="text" class="form-control" placeholder="Enter Phone Number" [(ngModel)] = "c.phone" />
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn  btn-primary" role="button" (click)="create()" *ngIf="!c.id else templateUpdate" [disabled]="formClient.form.invalid">
            Create
          </button>
          <ng-template #templateUpdate>
            <button class="btn  btn-primary" role="button" (click)="update()">
              Update
            </button>
          </ng-template>


        </div>
      </div>


    </form>
  </div>
</div>
